* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
    
}

body, html {
	min-height: 100%;
	width: 100%;
}

// Main styles
/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; // Светлый фон
    color: #000000; // Черный текст
    transition: background-color 0.3s, color 0.3s;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1370px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        font-size: 20px;
    }

    @media (max-width: 480px) {
        font-size: 18px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;

        @media (max-width: 768px) {
            font-size: 14px;
            padding: 10px;
        }

        @media (max-width: 480px) {
            font-size: 12px;
            padding: 8px;
        }
    }

    td.correct {
        background-color: lightgreen;
    }
}

input {
    border: none;
    border-bottom: 1px solid black;
    background: none;
    outline: none;
    text-align: center;
   // width: 80%; // Процентная ширина для мобильных
    max-width: 120px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 5px;

    @media (max-width: 768px) {
        width: 100px;
        font-size: 14px;
    }

    @media (max-width: 480px) {
        width: 80px;
        font-size: 12px;
    }
}

.navig {
    background-color: #cebbbb94;
    padding: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;



    &-container {
        margin: auto;
        width: 100%;
        max-width: 1370px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 5px;
        align-items: center; // Центрирование по вертикали
    }

    a {
        margin: 0 30px;
        text-decoration: none;
        color: #333; // Цвет ссылок в светлом режиме
        transition: color 0.3s;
        padding: 10px 20px;
        cursor: pointer;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
            text-decoration: underline;
        }
    }
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #e5e5e5;
    text-align: center;
}

.dark-mode {
    background-color: #121212; // Темный фон
    color: #ffffff; // Белый текст

    .navig {
        background-color: #1e1e1e;

        a {
            color: #bb86fc; // Светлый цвет для ссылок в темном режиме
            transition: color 0.3s;

            &:hover {
                text-decoration: underline;
                color: #ffffff; // Цвет ссылок при наведении
            }
        }
    }

    th {
        background-color: #333333;
    }

    footer {
        background-color: #1e1e1e;
    }

    input {
        background-color: #333333; // Темный фон для инпута
        color: #ffffff; // Белый текст для инпута
        border: 1px solid #555; // Более светлая рамка
    }

    .slider {
        &::after {
            color: #ffffff;
        }
    }
}

#toggle-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #0056b3;
    }
}

// Стили для тумблера
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 15px; // Отступ для тумблера

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 34px;

        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: 0.4s;
            border-radius: 50%;
        }

        &::after {
            position: absolute;
            content: 'Schwierig';
            right: -60px;
            font-size: 12px;
            color: #000000;
        }
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:checked + .slider:before {
        transform: translateX(26px); // Уменьшенное значение
    }
}

// Вертикальное выравнивание тумблеров
.toggle-container {
    display: flex;
    flex-direction: column; // Изменено на вертикальное выравнивание
    align-items: flex-start; // Выравнивание по началу
    gap: 10px; // Отступ между тумблерами
}

// Мелкие оптимизации для мобильных устройств
@media (max-width: 768px) {
    #toggle-button {
        font-size: 14px;
    }

    .switch {
        width: 50px; // Уменьшенная ширина
        height: 28px; // Уменьшенная высота

        .slider:before {
            width: 22px; // Уменьшенная ширина
            height: 22px; // Уменьшенная высота
        }

        .slider::after {
            color: #fff;
            bottom: -12px;
            left: 0;
        }
    }
}



.tooltip-custom {
    position: relative;
}
.tooltip-custom::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -10px; /* Позиция сверху */
    left: -75px; /* Позиция слева */
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden; /* Скрыть подсказку по умолчанию */
    transition: opacity 0.3s;
    z-index: 1;
    white-space: nowrap;
}

.tooltip-custom:hover::before {
    visibility: visible; /* Показывать подсказку при наведении */
}
